In [16]:
import pandas as pd
df = pd.read_excel('./data/finindex.xlsx', sheet_name='Data')

In [17]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, in labor force (% age 15+)","Mobile money account, out of labor force (% age 15+)","Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)"
0,2011,AFG,Afghanistan,South Asia,Low income,0.090050,0.154155,0.149905,0.020520,0.026162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,0.099610,0.157847,0.148926,0.043583,0.038124,...,0.005723,0.000000,0.002061,0.00263,0.003299,0.002870,0.003472,0.000000,0.005072,0.002357
2,2017,AFG,Afghanistan,South Asia,Low income,0.148933,0.225365,0.250383,0.040462,0.071607,...,0.017173,0.000548,0.008798,0.00000,0.014690,0.003958,0.022650,0.003607,0.012820,0.008522
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,0.392035,0.394810,0.458098,0.308698,0.389283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,0.293181,0.361321,0.358846,0.116862,0.223316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df = df.rename(columns={'Unnamed: 0': 'year', 'Unnamed: 1':'abbreviation', 'Unnamed: 2': 'country', 'Unnamed: 3':'region', 'Unnamed: 4':'income_level'})

In [19]:
df.head()

,year,abbreviation,country,region,income_level,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, in labor force (% age 15+)","Mobile money account, out of labor force (% age 15+)","Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)"
0,2011,AFG,Afghanistan,South Asia,Low income,0.090050,0.154155,0.149905,0.020520,0.026162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,0.099610,0.157847,0.148926,0.043583,0.038124,...,0.005723,0.000000,0.002061,0.00263,0.003299,0.002870,0.003472,0.000000,0.005072,0.002357
2,2017,AFG,Afghanistan,South Asia,Low income,0.148933,0.225365,0.250383,0.040462,0.071607,...,0.017173,0.000548,0.008798,0.00000,0.014690,0.003958,0.022650,0.003607,0.012820,0.008522
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,0.392035,0.394810,0.458098,0.308698,0.389283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,0.293181,0.361321,0.358846,0.116862,0.223316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_bots = df[df.country == 'Botswana']

In [21]:
df_bots

,year,abbreviation,country,region,income_level,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, in labor force (% age 15+)","Mobile money account, out of labor force (% age 15+)","Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)"
63,2011,BWA,Botswana,Sub-Saharan Africa (excluding high income),Upper middle income,0.302600,0.321595,0.406803,0.165013,0.283603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2014,BWA,Botswana,Sub-Saharan Africa (excluding high income),Upper middle income,0.519646,0.552345,0.588054,0.382174,0.487371,...,0.248332,0.125492,0.194573,0.227416,0.199192,0.045315,0.286034,0.072423,0.296708,0.213353
65,2017,BWA,Botswana,Sub-Saharan Africa (excluding high income),Upper middle income,0.510325,0.562102,0.630660,0.364723,0.467885,...,0.338675,0.128968,0.205061,0.275184,0.230537,0.093519,0.359300,0.124832,0.322697,0.221527

In [22]:
df_bots.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 63 to 65
Columns: 781 entries, year to Mobile money account, rural  (% age 15+)
dtypes: float64(776), int64(1), object(4)
memory usage: 18.3+ KB